
@model Category

@{ ViewData["Title"] = "Update";
    List<Category> categories = ViewBag.Categories;
    SelectList selectListItems = new SelectList(categories, nameof(Category.Id), nameof(Category.Name)); }


<h1>Update Category</h1>

<div class="row justify-content-center">
    <div class="col-lg-8">


        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" required placeholder="Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger">Update</button>
        </form>
    </div>
</div>
